/*!
Theme Name: Wordpress Starter Theme
Theme URI: https://gitlab.com/tungvn/wordpress-init
Author: TungVN
Author URI: https://tungvn.info
Description: Designed by TungVN
Version: 0.1
*/
/* Reset CSS */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, san-serif;
  font-size: 16px;
  font-weight: 400;
}
table,
tr,
th,
td {
  padding: 5px;
  border: 1px solid #777;
  border-collapse: collapse;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 5px;
}
li {
  list-style-position: inside;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 0;
  line-height: 1;
}
.the-content p,
.the-content h1,
.the-content h2,
.the-content h3,
.the-content h4,
.the-content h5,
.the-content h6,
.the-content ul,
.the-content table {
  margin: 13px 0px;
}
.the-content p {
  line-height: 22px;
}
.the-content li {
  margin: 10px 0 10px 40px;
}
.the-content ul li {
  list-style: disc;
}
.the-content ol li {
  list-style: decimal;
}
.the-content img {
  max-width: 100%;
  height: auto;
}
/* Useful style */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.container,
.container-sm,
.container-xs {
  max-width: 1180px;
  width: 92%;
  margin: 0 auto;
}
.container-sm {
  max-width: 900px;
}
.container-xs {
  max-width: 680px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fri {
  float: right !important;
}
.lsn,
.lsn > li {
  list-style: none;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.posf {
  position: fixed;
}
.row .rw-left {
  float: left;
}
.row .rw-right {
  float: right;
}
.imgdf > img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: none;
}
.hidden {
  display: none;
}
.dtb {
  display: table;
}
.dtbr {
  display: table-row;
}
.dtbc {
  display: table-cell;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.tac {
  text-align: center;
}
.taj {
  text-align: justify;
}
.ttu {
  text-transform: uppercase;
}
.tdu {
  text-decoration: underline;
}
.tdn {
  text-decoration: none;
}
.fwb {
  font-weight: bold;
}
.fwsb {
  font-weight: 500;
}
.fluid {
  *zoom: 1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.fluid:before,
.fluid:after {
  display: table;
  content: "";
}
.fluid:after {
  clear: both;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
/* Useful */
.image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
